# Systemd unit file for tomcat
[Unit]
Description=Apache Tomcat Web Application Container {{ tomcat_instance_prefix }}
After=syslog.target network.target

[Service]
Type=forking

Environment=CATALINA_HOME={{ tomcat_install_path_link }}
Environment=CATALINA_BASE={{ tomcat_install_path_link }}

ExecStart={{ tomcat_install_path_link }}/bin/startup.sh
#ExecStop={{ tomcat_install_path_link }}/bin/shutdown.sh
ExecStop=/bin/kill -15 $MAINPID

User={{ tomcat_user }}
Group={{ tomcat_user_group }}
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target
